@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    /* Base Colors */
    --accent_color: #ff0000;
    --grey-color: #909090;
    --grey-color-alt : #ccc;
    --border-color: rgba(0,0,0,.1);

    /* Background Colors */
    --bg-color: #fff;
    --bg-color-alt: #f9f9f9;
    --bg-color-active: #e5e5e5;

    /* Text colors */
    --text-color: #030303;
    --text-color-alt: #606060;
    --text-color-white: white;

    /* Fonts */
    --body-font: 'Roboto', sans-serif;
    --icon-font: 'icomoon';

    /* Font sizes */
    --big-font-size: 1.125rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.75rem;
    --font-bold: 500;

    --header-height: 56px;
    --z-tooltip: 25;
    --z-fixed: 100;
    --border-radius: 2px;
    --sidebar-width: 240px;

    /* Scroll */
    --scrol-size: 1rem;
    --scroll-bg: transparent;
    --scroll-radius: 0.5rem;
    --scroll-padding: 0.25rem;
    --thumb-bg: var(--grey-color);
    --thumb-bg-alt: var(--grey-color-alt);
}

body,button{
    font-family: var(--body-font);
}

body{
    background-color: var(--bg-color-alt);
    line-height: 1.15rem;
    padding-top: var(--header-height);
    padding-left: var(--sidebar-width);
}

h1,h2,h3,h4,h5,h6,b{
    font-weight: var(--font-bold);
}

img{
    width: 100%;
}

.flex{
    display: flex;
}

.place-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

hr{
    --spacing: 0.75rem;
    border: none;
    border-bottom: 1px solid var(--border-color);
    margin-bottom: var(--spacing);
    padding-top: var(--spacing);
}

.buttons-container{
    display: flex;
    gap: 0.5rem;
    padding: 0 1rem;
}

.actions .buttons-container{
    padding: 0;
}

[class*="rows-text"]{
    display: -webkit-box;
    -webkit-line-clamp: var(--rows);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.rows-text-1{
    --rows: 1;
}

.rows-text-2{
    --rows: 2;
}

.rows-text-3{
    --rows: 3;
}

/* WEBSITE MAIN HEADER   */
.main-header{
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    height: var(--header-height);
    background-color: var(--bg-color);
}

.main-header .logo{
    width: 6rem;
}

.user-avatar{
    --size: 2rem;
    width: var(--size);
    height: var(--size);
    cursor: pointer;
    flex: none;
}

.user-avatar .image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.main-header .middle{
    flex-basis: 720px;
    padding: 0 2rem;
}

.main-header .form-search{
    flex-grow: 1;
    align-items: stretch;
}

.main-header .input{
    flex-grow: 1;
    padding: 0.5rem;
    border: 1px solid var(--border-color);
    border-right: none;
    border-radius: var(--border-radius) 0 0 var(--border-radius);
}

.main-header .submit{
    padding: 0 1.5rem;
    border: 1px solid var(--border-color);
    font-size: 1.25rem;
    color: var(--text-color-alt);
    align-self: stretch;
    border-radius:  0 var(--border-radius) var(--border-radius) 0;
    cursor: pointer;
}

/* Actions buttones */
.action-button,.action-button .icon{
    --size : 2.5rem;
    height: var(--size);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid transparent;
    background: none;
    transition: border-color 0.5s;
    cursor: pointer;
}

.action-button.has-text{
    text-transform: uppercase;
    color: var(--text-color-alt);
    font-weight: var(--font-bold);
    font-size: var(--small-font-size);
}

.action-button.has-text .icon{
    --size: 2.25rem;
    color : var(--grey-color)
}

.action-button:not(.has-text),
.action-button .icon{
    width: var(--size);
    border-radius: 50%;
}

.action-button::before,
.action-button .icon{
    color: var(--text-color-alt);
    font-size: 1.5em;
}

.action-button:not(.has-text):active,
.action-button .icon:active{
    background-color: var(--bg-color-active);
    border-color: var(--bg-color-active);
}

/* Tooltip */
[data-tooltip]{
    position: relative;
}

[data-tooltip]::after{
    content: attr(data-tooltip);
    position: absolute;
    padding: 0.5rem;
    left: 50%;
    top: 3.5rem;
    font-weight: var(--font-bold);
    font-size: initial;
    transform: translateX(-50%);
    background-color: var(--text-color-alt);
    color: var(--text-color-white);
    font-family: var(--body-font);
    border-radius: var(--border-radius);
    opacity: 0;
    pointer-events: none;
    white-space: nowrap;
    transition: opacity 0.25s;
    z-index: var(--z-tooltip);
}

[data-tooltip]:hover::after{
    opacity: 1;
}

.button{
    --button-color: #CC0000;
    --text-button-color: white;
    --cursor-button: pointer;

    padding: 0.5rem 1rem;
    text-transform: uppercase;
    font-weight: var(--font-bold);
    border: none;
    font-size: var(--small-font-size);
    border-radius: var(--border-radius);
    background-color: var(--button-color);
    cursor: var(--cursor-button);
    color: var(--text-button-color);
}

/* Sidebar */

.main-sidebar{
    --main-nav-padding: 0.5rem 1.5rem;
    position: fixed;
    height: calc(100vh - var(--header-height));
    background-color: var(--bg-color);
    top: var(--header-height);
    width: var(--sidebar-width);
    padding: 0.75rem 0;
    overflow: auto;
    left: 0;
    z-index: 1;
}

.main-sidebar .link{
    padding: var(--main-nav-padding);
    text-decoration: none;
    color: var(--text-color);
    font-size: var(--small-font-size);
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.main-nav .link .icon{
    font-size: 1.3rem;
    color: var(--text-color-alt);
}

.main-nav .link.is-active,
.main-nav .link:hover{
    background-color: var(--bg-color-active);
}

.main-nav .link.is-active{
    font-weight: var(--font-bold);
}

.main-nav .link.is-active .icon{
    color: var(--accent_color)
}

/* Titulo de nav lateral */
.nav-title{
    text-transform: uppercase;
    color: var(--text-color-alt);
    font-size: var(--small-font-size);
    padding: var(--main-nav-padding);
}

.main-nav .link .icon,
.main-nav .link .user-avatar{
    margin-right: 1.5rem;
}

.main-nav .link .user-avatar{
    --size: 1.5rem;
}

.main-nav .link.is-in-live::after,
.main-nav .link.is-new::after{
    content: var(--link-icon);
    /* font-family: var(--icon-font); */
    font-family: 'Font Awesome 5 Pro';
    font-weight: 900;
    margin-left: auto;
}

.main-nav .link.is-in-live::after{
    content: '\f519';
    color: var(--accent_color);
}

.main-nav .link.is-new::after{
    content: '\f111';
    color: #065fd4;
    font-size: calc(var(--smaller-font-size)/2);
}


/* footer */
.main-nav-footer{
    padding: var(--main-nav-padding);
    display: grid;
    gap: 0.65rem;
    font-size: var(--smaller-font-size);
}


.main-nav-footer .link-footer{
    margin-right: 0.5rem;
    line-height: 1.4;
    text-decoration: none;
    font-weight: var(--font-bold);
    color: var(--text-color-alt);
}

.main-nav-footer .copyright{
    opacity: 0.8;
    color: var(--text-color-alt);
}

/* SCROLL */
.scroll::-webkit-scrollbar{
    width: var(--scroll-size); /*el scroll de Y*/
    height: var(--scroll-size); /*el scroll de X*/
}

.scroll::-webkit-scrollbar-thumb{
    border-radius: var(--scroll-radius);
    border: var(--scroll-padding) solid transparent;
    background-clip: content-box;
}

.scroll::-webkit-scrollbar-thumb:hover,
.scroll:not(body):hover::-webkit-scrollbar-thumb{
    display: block;
}

.scroll:not(body)::-webkit-scrollbar-thumb{
    display: none;
    background-color: var(--thumb-bg-alt);
}

/* CARD VIDEO */

.card-video{
    /* max-width: 300px; */
}

.card-video a{
    text-decoration: none;
    color: inherit;
}

.card-video .cover{
    position: relative;
    display: block;
    aspect-ratio: 16/9;
    margin-bottom: 0.75rem;
}

.card-video .image{
    display: block;
    height: 100%;
    object-fit: cover;
}

.card-video time{
    position: absolute;
    right: 0.5rem;
    bottom: 0.5rem;
    background-color: rgba(0,0,0,.8);
    color: var(--text-color-white);
    font-size: var(--smaller-font-size);
    padding: 0 0.25rem;
    border-radius: var(--border-radius);
}

.card-video .user-avatar{
    --size: 36px;
    margin-right: 0.75rem;
}

.card-video .content{
    font-size: var(--small-font-size);
    color: var(--text-color-alt);
}

.card-video .title{
    color: var(--text-color);
    margin-bottom: 0.25rem;
}

/* Video information */
.video-information .views{
    display: inline-flex;
}

.video-information .views::after{
    content: '\f111';
    font-family: 'Font Awesome 5 Pro';
    font-weight: 900;
    font-size: 0.25rem;
    padding: 0 0.25rem;
    
}

/* Grid Video */

.card-grid{
    max-width: 1800px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
    gap: 2rem 1rem;
    padding: 1rem 2rem;
    margin-inline: auto;
}



/* VIDEO PAGE */

body.video-page{
    padding-left: 0;
}

.video-page-grid{
    --gap-page : 1.5rem;
    width: calc(100% - var(--gap-page*2));
    max-width: 1600px;
    display: grid;
    gap: var(--gap-page);
    grid-template-columns: repeat(11,1fr);
    margin-inline: auto;
    padding-top: var(--gap-page);
}

.video-column{
    grid-column-start: span 8;
}

.video-player .video{
    aspect-ratio: 16/9;
    width: 100%;
    margin-bottom: 1rem;
}

.video-player .title{
    font-weight: normal;
    font-size: var(--big-font-size);
}

.video-player .video-information{
    font-size: var(--small-font-size);
    color: var(--text-color-alt);
}

.video-player .actions{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.video-player .buttons-container.likes{
    border-bottom: 2px solid var(--grey-color);
}

.video-player .border{
    padding-top: 0;
}

/* video information */

.video-player-information{
    gap: 1rem;
    color: var(--text-color);
}

.video-player-information .user-avatar{
    --size: 3rem;
}

.video-player-information .channel-name{
    color: inherit;
    text-decoration: none;
    font-size: var(--small-font-size);
    font-weight: var(--font-bold);
}

.video-player-information .sub-count{
    color: var(--text-color-alt);
    font-size: var(--smaller-font-size);
}

.video-player-information .content{
    width: 100%;
}

.video-player-information .header{
    margin-bottom: 1rem;
}

.video-player-information .header .button{
    margin-left: auto;
}

.video-player-information .caption{
    max-width: 600px;
    line-height: 1.25rem;
    font-size: var(--small-font-size);
}

/* seccion de comentarios */
.comments-information{
    align-items: center;
}

.cards-sidebar{
    background-color: orange;
    grid-column-start: span 3;
}
